.App {
  text-align: center;
}

/* img {
  height: auto;
}

h1, h5.home {
  text-align: center;
}

.landing {
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */

.left {
  text-align: left;
}