.App {
  text-align: center;
  background-color: aliceblue
}

html{
  background-color: aliceblue
}

div.jumbotron{
  background-color: aliceblue
}

div.card{
  width: 17rem;
  height: auto;
}

div.editUser{
  margin: auto;
  width: 50%;
}

img.card-img-top{
  object-fit: cover;
}

div.col > img {
  width: 20rem;
  padding-top: 20px;
}

.reviewForm {
  width: 75%;
  margin: auto;
}

.form-control {
  resize: none;
}

span{
  display: inline-block;
}

/* img {
  height: auto;
}

h1, h5.home {
  text-align: center;
}

.landing {
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */

.left {
  text-align: left;
}