.App {
  text-align: center;
  background-color:	#dae4ff;

}

html{
  background-color:	#dae4ff;
}

h1{
  background-color: aliceblue;
  padding: 10px;
}

.welcome{
  background-color: aliceblue;
  padding-bottom: 5px;
}

div.jumbotron{
  background-color: aliceblue;
}

div.card{
  width: 17rem;
  height: auto;
}

div.left{
  background-color: #E4EBFC;
  border-radius: 10px;
}

nav.navbar{
  background-color: aliceblue;
}

div.moviesContainer{
  padding-bottom: 20px;
}

div.card{
  width: 17rem;
  border-radius: 20px;
  text-align: center;
}

div.watchlistBtn, div.removeWatchlistBtn{
  position: absolute;
  bottom: 3px;
}

div.watchlistBtnParent, div.removeWatchlistBtnParent{
  display:flex;
  justify-content: center;
}

div.card-body{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form.editUser{
  margin: auto;
  width: 50%;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

img.card-img-top{
  object-fit: cover;
  height: 400px;
}

div.col > img {
  width: 27rem;
  height: auto;
}

.reviewForm {
  width: 75%;
  margin: auto;
}

.registrationForm, .loginForm {
  /* background-color: #B6C9FF; */
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

.form-control {
  resize: none;
}

.search{
  padding: 10px;
}

span{
  display: inline-block;
}

button.btn{
  position: relative;
}

.left {
  text-align: left;
}